













 /* BASICO */
*{
    margin: 0;
    padding: 0;
}

body,html{
    background-color: rgb(83, 83, 83);
}

/* TELA DO JOGO */

#grade{
    display: flex;
    margin: 0 auto;
    z-index: 1;
}

#score{
    opacity: 1;
    z-index: 1;
    position: absolute;
    top: 1%;
    left: 6%;
    color: rgb(255, 255, 255);
}

/* MENU */

#menu{
    display: flex;
    position: absolute;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
}

.button{
    text-align: center;
    height: 50px;
    width: 200px;
    font-size: 1.5rem;
    transition-duration: .2s;
    cursor: pointer;
    background-color: rgb(221, 243, 20);
    border: solid 2px rgb(0, 0, 0);
}

.button:hover,
.button:focus{
    font-size: 2rem;
    height: 67px;
    width: 267px;
    background-color: rgb(0, 238, 255);
    border: solid 4px rgb(0, 0, 0);
}

.div_button{
    display: block;
    justify-content: center;
    top: 60%;
    left: 50%;
    color: #000;
    margin: 2%;
}

#explicacao{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    top: 50%;
    left: 60%;
}

#extra{
    position: absolute;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: -9;
    opacity: 0;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
}

.checkbox{
    vertical-align: middle;
    margin: 2%;
}

.titulo_center{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

.rainbow_text{
    animation: rainbow_color 4s infinite linear;
}

#div_rainbow_type_tempo,
#div_rainbow_options{
    position: absolute;
    z-index: -9;
    opacity: 0;
    transition-duration: .2s;
    margin-left: 10%;
}

#rainbow_type_tempo_input{
    background-color: aqua;
    width: 200px;
}

#rainbow_type_tempo_example{
    display: block;
    width: 20%;
    height: 20%;
    left: 20%;
}

.titulo_principal{
    font-size: 3rem;
    margin-bottom: 5%;
}

.alerta{
    color: rgb(255, 0, 0);
}


@keyframes rainbow_color{

    0%{
        color: rgb(255, 0, 0);
    }

    10%{
        color: rgb(255, 0, 98);
    }

    20%{
        color: rgb(255, 0, 191);
    }

    30%{
        color: rgb(162, 0, 255);
    }

    40%{
        color: rgb(13, 0, 128);
    }

    50%{
        color: rgb(0, 119, 255);
    }

    60%{
        color: rgb(0, 247, 255);
    }

    70%{
        color: rgb(217, 255, 0);
    }

    80%{
        color: rgb(255, 251, 0);
    }

    90%{
        color: rgb(255, 208, 0);
    }

    100%{
        color: rgb(255, 0, 0);
    }
}