













 /* BASICO */
*{
    margin: 0;
    padding: 0;
}

body,html{
    background-color: rgb(83, 83, 83);
}

/* TELA DO JOGO */

#grade{
    display: flex;
    margin: 0 auto;
    z-index: 1;
}

/* MENU */

#menu{
    display: flex;
    position: absolute;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
}

.button{
    text-align: center;
    height: 50px;
    width: 200px;
    font-size: 1.5rem;
    transition-duration: .2s;
    cursor: pointer;

}

.button:hover{
    font-size: 2rem;
    height: 67px;
    width: 267px;
}

.div_button{
    display: block;
    justify-content: center;
    top: 60%;
    left: 50%;
    color: #000;
    margin: 2%;
}

#explicacao{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    top: 50%;
    left: 60%;
}

#extra{
    display: flex;
    position: absolute;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -9;
    opacity: -3;
}

.checkbox{
    vertical-align: middle;
    margin: 2%;
}

#div_rainbow_type_tempo{
    position: absolute;
    z-index: -9;
    opacity: 0;
    transition-duration: .2s;
    margin-left: 15%;
}
